/*-------------------------------
Global Styles
---------------------------------*/
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.col.padding-left-6{
    padding-left: 6%;
}
.col.padding-right-6{
    padding-right: 6%;
}
.list-link-hover{
    transition: opacity 0.3s ease;
}
.list-link-hover:hover{
    opacity: 1;
}
.no-margin-bottom{
    margin-bottom: 0 !important;
}
.margin-center{
    margin: 0 auto;
}
/*Nav bar styles*/
nav{
    height: 80px;
}
#logo-container{
    padding-top: 4px;
}
#nav-btn-ul{
    padding-top: 15px;
}
.container{
    width: 80%;
    max-width: 1200px;
}
.no-margin-right{
    margin-right: 0 !important;
}
/*Call to Action button styles*/
.nav-cta-primary{
    font-size: 12px;
    padding: 0px 25px;
    text-transform: capitalize;
    border-radius: 6px;
    height: 100%;
    min-height: 30px;
    line-height: 29px;
    border: 1.5px solid #E54726;
    width: 103px;
    text-align: center;
}
.nav-cta-primary:hover{
    background-color: #E15E45;
    border-color: #E15E45;
}
.nav-cta-secondary{
    font-size: 12px;
    padding: 0px 25px;
    text-transform: capitalize;
    border-radius: 6px;
    height: 100%;
    min-height: 30px;
    line-height: 29px;
    border: 1.5px solid white;
    color: white;
    background-color: transparent;
    width: 103px;
    text-align: center;
}
.nav-cta-secondary:hover{
    background-color: white;
    color: #6B829D;
}
.cta-primary{
    font-size: 14px;
    padding: 10px 25px;
    text-transform: capitalize;
    border-radius: 6px;
    height: 100%;
    min-height: 35px;
    line-height: 18px;
    border: 1.5px solid #E54726;
    text-align: center;
    transition: all 0.3s ease;
}
.cta-primary-blue-dark{
    font-size: 14px;
    padding: 10px 25px;
    text-transform: capitalize;
    border-radius: 6px;
    height: 100%;
    min-height: 35px;
    line-height: 18px;
    border: 1.5px solid #536274;
    text-align: center;
    transition: all 0.3s ease;
}
.cta-primary-blue-dark:hover{
    border: 1.5px solid #6B829D;
    background-color: #6B829D;
}
.cta-primary:hover{
    background-color: #E15E45;
    border-color: #E15E45;
}
.cta-primary-white{
    font-size: 14px;
    padding: 10px 25px;
    text-transform: capitalize;
    border-radius: 6px;
    height: 100%;
    min-height: 35px;
    line-height: 18px;
    border: 1.5px solid white;
    text-align: center;
    transition: all 0.3s ease;
}
.cta-primary-white:hover{
    background-color: rgba(255,255,255,0.75) !important;
    border: 1.5px solid rgba(255,255,255,0.75) !important;
}
.cta-white{
    background-color: white !important;
    border-color: white !important;
    color: #E15E45 !important;
}
.cta-white:hover{
    background-color: rgba(255,255,255,0.75) !important;
    border-color: rgba(255,255,255,0.75) !important;
}
/*Custom EV colors for backgrounds*/
.ev-grey-bg{
    background-color: #f3f3f3;
}
.ev-blue-light-bg{
    background-color: #6B829D;
}
.ev-blue-dark-bg{
    background-color: #536274;
}
.ev-orange-light-bg{
    background-color: #E15E45;
}
.ev-orange-dark-bg{
    background-color: #E54726;
}
/*Custom EV colors for text*/
.ev-grey{
    color: #f3f3f3;
}
.ev-blue-light{
    color: #6B829D;
}
.ev-blue-dark{
    color: #536274;
}
.ev-orange-light{
    color: #E15E45;
}
.ev-orange-dark{
    color: #E54726;
}
/*-------------------------------
Footer Styles
---------------------------------*/
.footer-header{
    font-size: 18px;
}
.footer-link{
    font-weight: 300;
    opacity: 0.75;
    font-size: 13px;
}
.flex-row{
    display: flex;
}
.flex-col{
    flex-grow: 1;
}
.footer-copyright{
    background-color: #536274 !important;
}
#terms-link, #privacy-link{
    padding-right: 15px;
    opacity: 0.75;
    font-size: 12px;
    font-weight: 400 !important;
}
#email-link{
    padding-left: 25px;
    opacity: 0.75;
    font-size: 12px;
    font-weight: 400 !important;
}
/*-----------------------------
Homepage Styles
-------------------------------*/
#index-banner{
    padding-top: 50px;
}
.header-text{
    line-height: 56px;
}
.sub-text{
    font-weight: 200;
    font-size: 24px;
    opacity: 0.75;
}
.sub-text-2{
    font-weight: 300;
    font-size: 24px;
}
.section.sec-2{
    padding-bottom: 220px;
    background-image: url("../img/blue_phone4.png");
    background-size: cover;
    background-position: top left;
}
.section.sec-3{
    padding-top: 35px;
    padding-bottom: 35px;
}
#sec-3-header{
    font-weight: 300;
    color: white;
    font-size: 18px;
}
.section.sec-4{
    padding-top: 65px;
    padding-bottom: 25px;
}
.talk-text{
    font-weight: 400;
    font-size: 18px;
}

.use-case-col{
    padding: 0 2rem !important;
}
.col-border{
    border-right: 1px solid rgba(0,0,0,0.22);
}
.section.uc-sec-2{
    padding-bottom: 50px;
}
.section.uc-sec-3{
    padding-top: 20px;
    padding-bottom: 20px;
}
#cta-subheader{
    font-weight: 300 !important;
    font-size: 18px;
    opacity: 0.75;
}

.section.integrationS-sec-2{
    padding-bottom: 50px;
}
.integrationS-sec-2 > .container{
    max-width: 1000px;
    margin: 0 auto;
}
.integrationS-sec-3{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.integrationS-sec-3 > #fixed-img{
    position: absolute;
    right: 0;
    top: 0;
    max-width: 500px;
}
.feature-box > .title{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    opacity: 0.94;
}
.feature-box > .details{
    color: white;
    font-weight: 300 !important;
    opacity: 0.75;
}
/*--------------------
Mobile Screen Styles
----------------------*/
@media (max-width: 500px) {
    nav{
        height: 54px;
    }
    #logo-container{
        padding-top: 0;
    }
    #logo-container>img{
        vertical-align: baseline !important;
        width: 160px !important;
    }
    .button-collapse{
        margin-left: 0 !important;
    }
    .mobile-h2{
        font-size: 36px;
        line-height: 42px;
    }
    .mobile-no-offset{
        margin-left: 0 !important;
    }
    .mobile-no-padding{
        padding: 0 0.75rem !important;
    }
    .section.sec-2{
        padding-bottom: 20px;
    }
    .flex-row{
        display: initial;
    }
    .mobile-align-reset{
        text-align: inherit;
    }
    .mobile-extra-padding{
        padding-top: 15px !important;
    }
    .mobile-border-bottom{
        border: none;
        border-bottom: 1px solid rgba(0,0,0,0.22);
        padding-bottom: 25px !important;
    }
}